In [17]:
# import packages

import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
from plotnine import *
import statsmodels.api as sm

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score, mean_absolute_error
from sklearn.metrics import accuracy_score, confusion_matrix, plot_confusion_matrix

from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

import matplotlib.pyplot as plt

%matplotlib inline
url = 'https://raw.githubusercontent.com/cmparlettpelleriti/CPSC392ParlettPelleriti/master/Data/Proj1.csv'
df = pd.read_csv(url)

In [18]:
df.isnull().sum()

age                         13
hypertension                12
heart_disease               21
ever_married                 9
Residence_type              21
avg_glucose_level           31
bmi                        575
stroke                       0
smoking_status_smokes        0
smoking_status_formerly      0
reg_to_vote                 14
dog_owner                   21
raccoons_to_fight           27
fast_food_budget_month       8
income_in_k                 21
er_visits                   15
dtype: int64

In [19]:
df = df.dropna()
df.isnull().sum()
df.head()

,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,smoking_status_smokes,smoking_status_formerly,reg_to_vote,dog_owner,raccoons_to_fight,fast_food_budget_month,income_in_k,er_visits
0,60.0,1.0,0.0,0.0,1.0,73.00,25.2,0,1,0,1.0,1.0,10.0,209.19,51.553645,9.0
1,4.0,0.0,0.0,0.0,0.0,110.15,17.1,0,0,0,0.0,1.0,13.0,176.46,45.405414,5.0
2,77.0,0.0,0.0,1.0,1.0,68.38,27.8,0,0,0,0.0,1.0,6.0,213.00,94.865174,8.0
3,37.0,0.0,0.0,1.0,1.0,95.08,30.1,0,0,0,1.0,1.0,12.0,161.90,84.123775,8.0
4,44.0,0.0,0.0,0.0,0.0,103.78,40.9,0,1,0,1.0,1.0,11.0,261.29,74.794596,11.0

In [35]:
predictors = ["age", "hypertension", "heart_disease", "ever_married", "Residence_type", "avg_glucose_level", "bmi",
 "smoking_status_smokes", "smoking_status_formerly", "reg_to_vote", "dog_owner", "raccoons_to_fight", "fast_food_budget_month", 
 "income_in_k", "er_visits"]

X_train, X_test, y_train, y_test = train_test_split(df[predictors], df["stroke"], test_size = 0.2)

zscore = StandardScaler()
zscore.fit(X_train)
Xz_train = zscore.transform(X_train)
Xz_test = zscore.transform(X_test)

logr = LogisticRegression()
logr.fit(Xz_train,y_train)
predictedVals = logr.predict(Xz_test)

accuracy_score(y_test,predictedVals)

0.9644991212653778

In [44]:
X = df[["age", "hypertension", "heart_disease", "ever_married", "Residence_type", "avg_glucose_level", "bmi",
 "smoking_status_smokes", "smoking_status_formerly", "reg_to_vote", "dog_owner", "raccoons_to_fight", "fast_food_budget_month", 
 "income_in_k", "er_visits"]]

y = df["stroke"]

kf = KFold(n_splits = 10)
kf.split(X)

lr = LogisticRegression()

acc_test = []
acc_train = []

for train_indices, test_indices in kf.split(X):
    X_train = X.iloc[train_indices]
    X_test  = X.iloc[test_indices]
    y_train = y.iloc[train_indices]
    y_test  = y.iloc[test_indices]
    
    z = StandardScaler()
    X_train = z.fit_transform(X_train)
    X_test  = z.transform(X_test)
    
    model = lr.fit(X_train, y_train)
   
    acc_test.append(accuracy_score(y_test, model.predict(X_test)))
    acc_train.append(accuracy_score(y_train, model.predict(X_train)))
    
print(acc_test)
print(acc_train)

[0.9620520028109627, 0.9501054111033029, 0.9556962025316456, 0.9690576652601969, 0.9613220815752461, 0.9634317862165963, 0.9556962025316456, 0.9528832630098453, 0.9655414908579466, 0.9669479606188467]
[0.9603093991718104, 0.9613251035237128, 0.96109375, 0.9596875, 0.9603125, 0.959921875, 0.96125, 0.96109375, 0.95984375, 0.95984375]