In [8]:
# import packages

import pandas as pd
import numpy as np
from plotnine import *
import statsmodels.api as sm

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, plot_confusion_matrix

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold 
from sklearn.model_selection import LeaveOneOut 
from sklearn.model_selection import cross_val_score 
from sklearn.model_selection import cross_val_predict 

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB, BernoulliNB, CategoricalNB

In [9]:
url = 'https://raw.githubusercontent.com/min-is/Chapman-University/main/CPSC%20392%20-%20Data%20Science/Projects/Final%20Project/high_diamond_ranked_10min.csv'

df = pd.read_csv(url)

df.head()

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
0,4519157822,0,28,2,1,9,6,11,0,0,...,0,16567,6.8,17047,197,55,-643,8,19.7,1656.7
1,4523371949,0,12,1,0,5,5,5,0,0,...,1,17620,6.8,17438,240,52,2908,1173,24.0,1762.0
2,4521474530,0,15,0,0,7,11,4,1,1,...,0,17285,6.8,17254,203,28,1172,1033,20.3,1728.5
3,4524384067,0,43,1,0,4,5,5,1,0,...,0,16478,7.0,17961,235,47,1321,7,23.5,1647.8
4,4436033771,0,75,4,0,6,6,6,0,0,...,0,17404,7.0,18313,225,67,1004,-230,22.5,1740.4

In [15]:
# Counting the missing data per column

null = df.isnull().sum()
null_preDF = {'Number of Missing Datapoints': null}
nullDF = pd.DataFrame(null_preDF)

nullDF

                              Number of Missing Datapoints
gameId                                                   0
blueWins                                                 0
blueWardsPlaced                                          0
blueWardsDestroyed                                       0
blueFirstBlood                                           0
blueKills                                                0
blueDeaths                                               0
blueAssists                                              0
blueEliteMonsters                                        0
blueDragons                                              0
blueHeralds                                              0
blueTowersDestroyed                                      0
blueTotalGold                                            0
blueAvgLevel                                             0
blueTotalExperience                                      0
blueTotalMinionsKilled                                   0
blueTotalJungleMinionsKilled                             0
blueGoldDiff                                             0
blueExperienceDiff                                       0
blueCSPerMin                                             0
blueGoldPerMin                                           0
redWardsPlaced                                           0
redWardsDestroyed                                        0
redFirstBlood                                            0
redKills                                                 0
redDeaths                                                0
redAssists                                               0
redEliteMonsters                                         0
redDragons                                               0
redHeralds                                               0
redTowersDestroyed                                       0
redTotalGold                                             0
redAvgLevel                                              0
redTotalExperience                                       0
redTotalMinionsKilled                                    0
redTotalJungleMinionsKilled                              0
redGoldDiff                                              0
redExperienceDiff                                        0
redCSPerMin                                              0
redGoldPerMin                                            0

In [16]:
df.columns

Index(['gameId', 'blueWins', 'blueWardsPlaced', 'blueWardsDestroyed',
       'blueFirstBlood', 'blueKills', 'blueDeaths', 'blueAssists',
       'blueEliteMonsters', 'blueDragons', 'blueHeralds',
       'blueTowersDestroyed', 'blueTotalGold', 'blueAvgLevel',
       'blueTotalExperience', 'blueTotalMinionsKilled',
       'blueTotalJungleMinionsKilled', 'blueGoldDiff', 'blueExperienceDiff',
       'blueCSPerMin', 'blueGoldPerMin', 'redWardsPlaced', 'redWardsDestroyed',
       'redFirstBlood', 'redKills', 'redDeaths', 'redAssists',
       'redEliteMonsters', 'redDragons', 'redHeralds', 'redTowersDestroyed',
       'redTotalGold', 'redAvgLevel', 'redTotalExperience',
       'redTotalMinionsKilled', 'redTotalJungleMinionsKilled', 'redGoldDiff',
       'redExperienceDiff', 'redCSPerMin', 'redGoldPerMin'],
      dtype='object')

In [12]:
# Linear Regression

predictors = ['blueWins', 'blueWardsPlaced', 'blueWardsDestroyed', 'blueFirstBlood', 'blueKills', 'blueDeaths', 'blueAssists', 'blueEliteMonsters', 'blueDragons', 
'blueHeralds', 'blueTowersDestroyed', 'blueTotalGold', 'blueAvgLevel', 'blueTotalExperience', 'blueTotalMinionsKilled', 'blueTotalJungleMinionsKilled', 'blueGoldDiff', 
'blueExperienceDiff', 'blueCSPerMin', 'blueGoldPerMin', 'redWardsPlaced', 'redWardsDestroyed', 'redFirstBlood', 'redKills', 'redDeaths', 'redAssists', 'redEliteMonsters', 
'redDragons', 'redHeralds', 'redTowersDestroyed', 'redTotalGold', 'redAvgLevel', 'redTotalExperience', 'redTotalMinionsKilled', 'redTotalJungleMinionsKilled', 'redGoldDiff', 
'redExperienceDiff', 'redCSPerMin', 'redGoldPerMin']

x = df[predictors]

print(x)

      blueWins  blueWardsPlaced  blueWardsDestroyed  blueFirstBlood  \
0            0               28                   2               1
1            0               12                   1               0
2            0               15                   0               0
3            0               43                   1               0
4            0               75                   4               0
...        ...              ...                 ...             ...
9874         1               17                   2               1
9875         1               54                   0               0
9876         0               23                   1               0
9877         0               14                   4               1
9878         1               18                   0               1

      blueKills  blueDeaths  blueAssists  blueEliteMonsters  blueDragons  \
0             9           6           11                  0            0
1             5           5            5                  0            0
2             7          11            4                  1            1
3             4           5            5                  1            0
4             6           6            6                  0            0
...         ...         ...          ...                ...          ...
9874          7           4            5                  1            1
9875          6           4            8                  1            1
9876          6           7            5                  0            0
9877          2           3            3                  1            1
9878          6           6            5                  0            0

      blueHeralds  ...  redTowersDestroyed  redTotalGold  redAvgLevel  \
0               0  ...                   0         16567          6.8
1               0  ...                   1         17620          6.8
2               0  ...                   0         17285          6.8
3               1  ...                   0         16478          7.0
4               0  ...                   0         17404          7.0
...           ...  ...                 ...           ...          ...
9874            0  ...                   0         15246          6.8
9875            0  ...                   0         15456          7.0
9876            0  ...                   0         18319          7.4
9877            0  ...                   0         15298          7.2
9878            0  ...                   0         15339          6.8

      redTotalExperience  redTotalMinionsKilled  redTotalJungleMinionsKilled  \
0                  17047                    197                           55
1                  17438                    240                           52
2                  17254                    203                           28
3                  17961                    235                           47
4                  18313                    225                           67
...                  ...                    ...                          ...
9874               16498                    229                           34
9875               18367                    206                           56
9876               19909                    261                           60
9877               18314                    247                           40
9878               17379                    201                           46

      redGoldDiff  redExperienceDiff  redCSPerMin  redGoldPerMin
0            -643                  8         19.7         1656.7
1            2908               1173         24.0         1762.0
2            1172               1033         20.3         1728.5
3            1321                  7         23.5         1647.8
4            1004               -230         22.5         1740.4
...           ...                ...          ...            ...
9874        -2519              -2469         22.9         1524.6
9875         -782               -888         20.6         1545.6
9876         2416               1877         26.1         1831.9
9877          839               1085         24.7         1529.8
9878         -927                 58         20.1         1533.9

[9879 rows x 39 columns]